#loginCenter {
  justify-content: center;
  align-items: center;
  align-content: center;
}

#signInImage {
  width: 100%;
  height: 100%;
  object-fit: cover

}
#overFlowHidden {
  overflow: hidden;
}

#loginBigText {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 4.4wv;
  line-height: 42px;
  text-transform: capitalize;
  color: #000000;
}
#welcomeLoginText {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
}
#loginButton {
  width: 100%;
  height: 36px;
  background-color: #1a1a1a;
  border-radius: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #44dabd;
}

#loginInputField {
  width: 100%;
  height: 36px;
  left: 155px;
  top: 669px;
  background: #ffffff;
  border: 1px solid #8e9296;
  box-sizing: border-box;
  border-radius: 8px;
}
.centerLog{
  /* background-color: red; */
  display: flex;
  justify-content: center;
}
.ceterRoeLog{
  /* background-color: green; */
  align-items: center;
}
.divPassword{
  position: relative;
}
.icon{
  position: absolute;
  top: 20%;
  right: 10px;
  color: #8e9296;
  font-size: larger;
}