#image {
    /* background-color: red; */
    height: 400px;
    margin-top: 50px;
    border-radius: 10px 10px 0px 0px;
    padding: 0px;
}

.marginLeft {
    margin-left: 0px;
}

#container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}

.contentEvent {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-bottom: 50px;
}

#addNewButtonEventDetail {
    width: 177px;
    height: 46px;
    top: 298px;
    background: #1a1a1a;
    border-radius: 8px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #44dabd;
}

.test {
    background-color: red;
}

.doneBtnCol {
    display: flex;
    justify-content: flex-end;
    /* background-color: red; */
}

.spanEvent {
    color: #8E9296;
}

.topEvents {
    margin-bottom: 50px;
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.topEventsGroup {
    display: flex;
    justify-content: space-between;
}

.listUsers {
    margin-top: 30px;
    /* background-color: red; */
    /* height: 100px; */
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
}

.user {
    background-color: white;
    /* margin-top: 40px; */
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* width: 300px; */
    /* height: 150px; */
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    padding: 30px 10px;
}

.particip {
    font-family: Inter;
    font-size: 24px;
    line-height: 32px;
}

.particip2 {
    font-family: Inter;
    font-size: 14px;
    line-height: 24px;
}

.cartImgEvent2 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.imgColEventDr {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    /* background-color: green; */
}

.imgColEventSt {
    text-align: start;
}

.pEvents {
    font-family: Inter;
    font-size: 24px;
    line-height: 32px;
}

.p2Events {
    font-family: Inter;
    font-size: 12px;
    line-height: 14px;
}

.pRunningEvets {
    font-family: Inter;
    font-size: 24px;
    line-height: 32px;
}

.p2EventsIcon {
    font-family: Inter;
    font-size: 14px;
    line-height: 24px;
}