#containerAdminCoaches {
  background: #f9f9f9;
}
#blackDiv {
  background-color: black;
  height: 100vh;
}

#coachesText {
  /* inter/h2 */
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #000000;
  margin-top: 4vh;
}

#searchCoachesRow {
  margin-top: 5vh;
}
#addNewButton {
  height: 100%;
  width: 100%;
  background: #1a1a1a;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  text-transform: uppercase;

  color: #44dabd;
}

#coachesDetailsBar {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #ffffff;
  justify-content: center;
  cursor: pointer;
}
#coachesDetailsBar:hover {
  text-decoration: underline solid;
}
#coachesDetailsInfo {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  justify-content: center;
}

.modalText {
  font-family: Inter;
  font-style: normal;
  font-size: 14px;
  text-transform: capitalize;
}
#cancelModalButton {
  border-radius: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1a1a1a;
  background: #F5F5F7;
}

#deleteModalButton {
  background: #f5f5f7;
  border-radius: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #44dabd;
}
#addModalButton {
  
  background: #1a1a1a;
  border-radius: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #44dabd;
}
#coachAddedText {
  margin-top: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  color: #000000;
}
#confirmText {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}
#centerTitle {
  justify-content: center;
  align-items: center;
}
#plutire{
  /* background-color: red; */
/* position: absolute;
top: 0;
left: 46%; */
}

#iconDone2 {
  /* justify-content: center;
  align-items: center;
  text-align: center; */
  background-color: red;
  width: 100%;
  display: block;
}
#iconDone {
  justify-content: center;
  align-items: center;
  text-align: center;
}
#closeButton {
  background-color: blue;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background: #1a1a1a;
  color: #44dabd;
}

#field {
  background: #ffffff;
  border: 1px solid #8e9296;
  box-sizing: border-box;
  border-radius: 8px;
}



@media only screen and (min-width: 992px) {
  .test1 {
      position: absolute;
      right: 40%;
      bottom: 50px;
  }

}

#scrollTable{
  overflow-x:auto;
}

#addNewButtonClub2 {
  width: 177px;
  height: 46px;
  left: 1007px;
  top: 298px;
  background: #1a1a1a;
  border-radius: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #44dabd;
  width: 100%;
  margin-top: 20px;
}
 