#heingLong1 {
    height: 100%;
    /* background-color: red; */
}

#heingLong2 {
    height: 100%;
    /* background-color: yellow; */
}

#nav {
    background-color: black;
    /* height: 100%; */
    padding: 20px;
    /* display: flex; */
    /* width: 100px; */
}

.space {
    align-content: center;
}

.NavTop {
    text-align: center;
}

.NavTopImg {
    height: 100px;
    width: 100px;
    /* border-radius: 50%; */
}

.NavTopP1 {
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.NavTopP2 {
    margin-top: 0px;
    color: #A9A9A9;
}

.NavMid {
    /* margin-top: 50px; */
    background-color: black;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    color: #A9A9A9;
    cursor: pointer;
}

li:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

small {
    margin-left: 25px;
    font-size: 16px;
}

.NavBot {
    color: #A9A9A9;
    cursor: pointer;
    /* margin-top: 100px; */
}

/* .NavBotLogout {
    color: white;
} */

.NavLink {
    text-decoration: 'none';
    transition: 0.5s;
    color: #A9A9A9;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.NavLink:hover, .NavLink:active, .NavLink:active {
    background-color: white;
    color: black;
    text-decoration: none;
}

.NavBotLogout {
    text-decoration: 'none';
    transition: 0.5s;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.NavBotLogout:hover, .NavBotLogout:active, .NavBotLogout:active {
    background-color: white;
    color: black;
    text-decoration: none;
}

#flexDiv {
    display: flex;
    height: 100%;
    /* background-color: red; */
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: space-between;
}

#testrow {
    /* background-color: green; */
    height: 100%;
}

#colRight {
    margin: 0px;
    padding: 0px;
    overflow: scroll;
    background-color: #f9f9f9;
    height: 100vh;
}

#switchRight {
    margin: '0px';
    padding: '0px';
    overflow: 'auto';
}

@media only screen and (max-width: 992px) {
    #colRight {
        overflow: visible;
        height: 100%;
    }
}

@media only screen and (max-width: 992px) {
    #colRight {
        overflow: visible;
        height: 100%;
    }
    #toogleBtn{
        visibility: hidden;
    }
}

#toogleBtn{
    color: white;
    background-color: black;
    width: 40px;
    height: 40px;
    margin-left: auto;
    border: black;
}
#toogleBtn:hover{
    color: black;
    background-color: white;
}
