#imageCircIcons {
  margin-left: -1vw;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#addNewButtonEvent {
  width: 177px;
  height: 46px;
  top: 298px;
  background: #1a1a1a;
  border-radius: 8px;
  font-family: Inter;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #44dabd;
  margin-right: 3vh;
}

#searchClubs {
  background: #ffffff;
  border: 1px solid #8e9296;
  box-sizing: border-box;
  border-radius: 8px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#memberName {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  order: 0;
  align-self: flex-start;
  margin: 0px 0px;
}

#memberAgeGender {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
  flex: none;
  order: 1;
  align-self: flex-start;
  margin: 0px 0px;
}

#primarySport {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8e9296;
}

#assignACoach {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #000000;
}

#inviteMembers {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #8e9296;
  cursor: pointer;
}

#optionalLabel {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  color: #8e9296;
}

#modalLabel {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #000000;
}

label {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #000000;
}

#labelAddAnother {
  background-color: transparent;
  cursor: pointer;
}

#borderModal {
  border-radius: 80px;
}

#onGoingBtn {
  background-color: #1A1A1A;
  color: #FFFFFF;
  border: 1px solid grey;
  margin-right: 5px;
}

#futureBtn {
  background-color: #FFFFFF;
  color: #8E9296;
  border: 1px solid grey;
  margin-right: 5px;
}

#pastBtn {
  background-color: #FFFFFF;
  color: #8E9296;
  border: 1px solid grey;
}

#rowBtnGroup {
  margin-top: 20px;
  margin-left: 1vh;
}

.rowCart {
  width: 550px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#rowRightEvent {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  /* margin-right: 5vh; */
  padding-left: 5vh;
  /* background-color: red; */
}

.navLinkCart {
  padding: 0px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: black;
  /* background-color: red;  */
}

.navLinkCart:hover {
  color: black;
}

/* left card */

#cartLeftEvent {
  padding: 0px;
  margin: 0px;
}

#imgLeftCartEvent {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.cartRight {
  padding: 20px;
}

.participants {
  color: #8E9296;
  display: block;
  width: 100%;
}

.marginLeft1 {
  margin-left: 0px;
  width: 100%;
}

.marginLeft {
  margin-left: 0px;
}

#rowRightCart {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
}

.cartCol {
  border-radius: 10px;
  /* background-color: red; */
  height: 100%;
}

.width {
  width: 100%;
}

.centerPagination {
  display: flex;
  justify-content: center;
}

#searchEventRow {
  margin-top: 5vh;
  margin-left: 1.5vh;
  margin-right: 5vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#rowLTitle{
  margin-left: 1vh;
  /* margin-right: 5vh; */
}

.inputDiv {
  width: 400px;
  display: inline-block;
  margin-left: 20px;
}

 

#searchEvents {
  background: #ffffff;
  border: 1px solid #8e9296;
  box-sizing: border-box;
  border-radius: 8px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  #addNewButtonEvent {
    width: 100%;
    margin-top: 10px;
    margin-right: 1vh;
    /* background-color: red; */
  }
  .inputDiv {
    width: 100%;
    display: inline-block;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 992px) {
  .test1 {
    position: absolute;
    right: 40%;
    bottom: 50px;
  }
}