#blackDiv {
  background-color: black;
  height: 100vh;
}
#clubCard {
  background: #ffffff;
  /* padding-left: 20px; */
  /* padding-top: 20px; */
  padding: 20px;
  box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.05),
    0px 1.34018px 2.90372px rgba(0, 0, 0, 0.0298054),
    0px 0.399006px 0.864513px rgba(0, 0, 0, 0.0201946);
  border-radius: 8px;
  width: 274px;
  /* height: 240px; */
}

#clubCardTitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
}

#membersText {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8e9296;
  margin-top: 0vh;
}
#imageCircIcons {
  margin-left: -1vw;
}
#clubsMembersText {
  line-height: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  justify-content: center;
  align-items: center;
}
#coachText {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw;
  color: #000000;
  margin-top: 0vh;
}

#rowDynamic {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
#dynamicRender {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  
}

#directionRow {
  flex-direction: "row";
}

#alignPencil {
 
 
  margin-top: 4vh;
  /* background: blue; */
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
  justify-self: flex-start;
  float: left;
}
#iconClubT{
  color: #000000;
  float: left;
}

#coachTextDetails {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8e9296;
}

#memberClubCard {
  /* Auto Layout */

  padding: 10px;
  width: 340px;
  height: 161px;
  background: #ffffff;
  box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.05),
    0px 1.34018px 2.90372px rgba(0, 0, 0, 0.0298054),
    0px 0.399006px 0.864513px rgba(0, 0, 0, 0.0201946);
  border-radius: 8px;
  flex: none;
  order: 0;
  align-self: center;

}


#cursorIconI
{
  cursor: pointer;
}
#membersButton {
  width: 170px;
  height: 46px;
  left: 40px;
  top: 220px;
  background: #1a1a1a;
  border-radius: 8px;
}
#requestMembersButton {
  width: 128px;
  height: 46px;
  left: 214px;
  top: 220px;
  background: #ffffff;
  border: 1px solid #8e9296;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #1a1a1a;
}
#addNewButtonClub {
  width: 177px;
  height: 46px;
  left: 1007px;
  top: 298px;
  background: #1a1a1a;
  border-radius: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #44dabd;
}

#searchClubs {
  background: #ffffff;
  border: 1px solid #8e9296;
  box-sizing: border-box;
  border-radius: 8px;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-left: 1.2vh ;
}
#memberName {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  order: 0;
  align-self: flex-start;
  margin: 0px 0px;
}
#memberAgeGender {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
  flex: none;
  order: 1;
  align-self: flex-start;
  margin: 0px 0px;
}
#primarySport {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8e9296;
}

#assignACoach {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #000000;
}
#inviteMembers {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #8e9296;
  cursor: pointer;
}

#optionalLabel {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  color: #8e9296;
}

#modalLabel {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #000000;
}
label {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #000000;
}
#labelAddAnother {
  background-color: transparent;
  cursor: pointer;
}

.cursorPointer {
  cursor: pointer;
}
#borderModal {
  border-radius: 80px;
}
.centerElements {
  justify-content: center;
  align-items: center;
}

#profileName {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}

#sportsTextProfile {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #000000;
}
#editProfileButton {
  height: 46px;
  left: 200px;
  bottom: 40px;
  background: #1a1a1a;
  border-radius: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #44dabd;
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 10px;
}

#noMembers {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  justify-content: center;
  display: flex;
  width: 100%;
}

#test{
  /* background: red; */
}

@media only screen and (max-width: 992px) {

  #addNewButtonClub {
    width: 100%;
   margin-top: 10px;
  }

  

}

