#Event{
   
    margin-top: 13px;
    height: 30vh;
    min-width: 600px;
    max-width: 600px;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    border-radius: 20px;
    margin: 0px;
    float: left;
    margin-right: 10px;
    

}
.ImageCard{

    width: 36%;
    height: 100%;
    /* background-image: url("../../Images/picture.PNG");  */
    float: left;
    border-radius: 20px;
}

#contentCard{
    float: right;
    border-radius: 20px;
   
}
.dateTimeLocation{


/* inter/paragraph */

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
align-items: center;

color: #000000;
}
#marginLeftFa{
    
    margin-left: 12px;
}
.profilePhoto{

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: -25px;
}
#marginLeft{
    margin-left: 10px;
}
#marginLeftPhoto{
margin-left: 25px;
}
